@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Space Mono';
  src: url('/fonts/SpaceMono-Regular.woff2') format('woff2'),
       url('/fonts/SpaceMono-Italic.woff2') format('woff2')
       url('/fonts/SpaceMono-Bold.woff2') format('woff2')
       url('/fonts/SpaceMono-BoldItalic.woff2') format('woff2')
}

@layer base {
  html {
    font-family: "Space Mono";
  }
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

.product-button {
  @apply w-auto h-auto p-1 rounded-lg text-center bg-secondary border-gray-600 border-4 active:scale-110 font-bold text-sm;
}

.shadow {
  box-shadow: 5px 10px 5px 0px #4B5563;
}